<h2>Tracks of the album
  {{albumName}}
  by
  {{#each artistsName}}{{this.name}} {{/each}}</h2>
<table class='list-tracks'>
  <tr>
    <th>Title</th>
    <th>Listen</th>
  </tr>
  {{#each tracks}}
    <tr class='tracks'>
      <td class="track-name">{{this.name}}</td>
      <td class="audio">
        <audio controls src='{{this.previewUrl}}'>
          Your browser does not support the
          <code>audio</code>
          element.
        </audio>
      </td>
    </tr>
  {{/each}}
</div>
