<main>
  <div class='landing-page'>
    <form action='/artist-search' method='GET'>
      <input type='text' name='artist' placeholder='e.g. The Beatles' />
      <input type='submit' value='Search for an Artist' />
    </form>
  </div>
</main>