* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
input {
  font-family: 'DM Sans', sans-serif;
}
.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('/images/spotify-background.jpeg');
  background-size: cover;
}
form {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 4rem 7rem;
  text-align: center;
}
form input[type='text'] {
  display: block;
  width: 18rem;
  background-color: white;
  opacity: 1;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
form input[type='submit'],
a.details {
  text-decoration: none;
  background-color: #fa6862;
  color: white;
  border: none;
  padding: 0.5rem;
}
h2 {
  text-align: center;
  padding: 1rem;
}
.list-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item {
  width: 20rem;
  height: 28rem;
  margin: 1.5rem;
  text-align: center;
  background-color: #4d4d4d;
  color: white;
}
.item h3 {
  height: 5rem;
  padding: 0.5rem;
}
.item picture img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
}
.list-tracks {
  margin: 0 auto;
}
td.track-name {
  min-width: 40rem;
  padding: 1rem;
  background-color: #f6f6f6;
}
td.audio {
  background-color: #f6f6f6;
}
